/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
}

body.dark {
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, 0.5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  width: 100%;
}

.nav-menu.scroll-bg {
  background-color: whitesmoke;
  width: 100%;
  z-index: 5;
}

.academlo-logo {
  height: 63px;
  width: 60px;
  padding-bottom: 5px;
  fill: var(--first-color);
}
.logo {
  display: flex;
  align-items: center;
  font-size: var(--body-font);
  font-size: 16px;
  font-weight: 500;
}

.academlo-logo:hover {
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 25px;
}

.icon1 {
  position: relative;
  z-index: 6;
}

.icon2 {
  position: relative;
  z-index: 3;
}

.cart-counter {
  position: absolute;
  z-index: 2;
  color: var(--body-color);
  padding: 0.25rem;
  background-color: var(--title-color);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 13px;
  left: 303px;
  font-size: 13px;
}

.icon2:hover {
  cursor: pointer;
}

.icon1:hover {
  cursor: pointer;
}

.img-home {
  height: 280px;
  width: 280px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  width: 250px;
  height: 450px;
  position: absolute;
  left: 126px;
  top: 0px;
  z-index: 1;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  background-color: transparent;
  position: relative;
  top: 420px;
  line-height: 30px;
  padding: 10px;
  margin-left: 25px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
}

.title2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--title-color);
}

.description {
  margin-top: 20px;
  line-height: 15px;
  font-size: 15px;
  color: var(--text-color);
}

.price {
  color: var(--first-color);
  font-weight: bold;
  margin-top: 20px;
}

.btn-discover {
  position: relative;
  top: 450px;
  left: 33px;
  width: 80px;
  height: 35px;
  background-color: #b2b2b2;
  font-weight: bolder;
  border: none;
}

.btn-discover:hover {
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.btn-cart {
  position: relative;
  top: 450px;
  left: 29px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #3c4048;
  color: white;
  font-weight: bolder;
  font-size: 11px;
  padding: 2px;
  box-shadow: 8px 7px 9px -2px rgba(186, 177, 177, 0.75);
}

.btn-cart:hover {
  background-color: var(--first-color);
  cursor: pointer;
  transition: 0.5s;
}

.hidden {
  display: none;
  flex-direction: row;
  background-color: antiquewhite;
  width: 180px;
  justify-content: space-between;
  margin-left: 40px;
}

.homes {
  color: var(--first-color);
}

.product:hover {
  color: var(--first-color);
  transition: 0.5s;
  cursor: pointer;
}

/*---------------------------------------------------------------------*/

/* Diana */
.products_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: var(--body-font);
  margin-top: 550px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 40px;
}
.products_options {
  background-color: transparent;
  border-left: 1px solid var(--border-color);
  width: 150px;
  color: var(--text-color);

  height: 70px;
}
.products_options_titles {
  font-size: 17px;

  font-weight: 500;
}
.products_options_titles:hover {
  font-weight: 700;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0 120px 0;
}
/* Contenedor del producto */
.box_products {
  background-color: var(--card-color);
  border-radius: 8px;
  width: 220px;
  max-width: 270px;
  height: 230px;
  position: relative;
}
.box_products > img {
  width: 150px;
  height: 135px;
  position: relative;
  top: 15px;
}
.box_products > img:hover {
  position: relative;
  top: 12px;
  transition: 0.4s;
}
.box_products_text {
  background-color: var(--container-color);
  border-radius: 0 0 8px 8px;
  text-align: start;
  padding: 10px 0px 10px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--title-color);
}
/* valor del producto */
.box_products_prince {
  font-size: 17px;
  font-weight: 600;
  color: var(--title-color);
}
/* stock */
.stock {
  border-left: 1px solid #000;
  font-size: 15px;
  font-weight: 400;
  margin-left: 6px;
  padding-left: 1px;
  color: var(--text-color);
}
/* Agregar productos */
.box_products_add {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 148px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  font-weight: 700;
  font-size: 15px;
  color: var(--title-color);
  background-color: var(--body-color);
  box-shadow: 8px 11px 17px -2px rgba(186, 177, 177, 0.75);
}

.box_products_add:hover {
  background-color: var(--first-color);
  color: var(--card-color);
}
/* footer */
footer {
  padding: 100px 0 150px 20px;

  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  background-color: var(--card-color);
  line-height: 35px;
  gap: 20px;
  font-family: var(--body-font);
}
.footer_container {
  width: 200px;
}
.footer_titles {
  color: var(--title-color);
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--title-color);
}
.footer_social_logos {
  display: flex;
  gap: 20px;
  font-size: 32px;
  color: var(--title-color);
}
.footer_social_logos:hover {
  cursor: pointer;
  animation: socialmove 2s;
}
@keyframes socialmove {
  50% {
  }
  100% {
  }
}
.rigth {
  font-size: 12px;
  font-family: var(--body-font);
  background-color: var(--card-color);
  padding-bottom: 20px;
  width: 100%;
}

/* carrito de compras */
.cart_container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  background-color: var(--body-color);
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  box-shadow: -3 0 10px rgb(147, 147, 147);
  padding-bottom: 50px;
}
/* ocult */
.compras_bag {
  left: -100%;
}

/* icono X */
.cart_close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.bx-x {
  font-size: 50px;
}

.cart_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart_img > img {
  height: 200px;
  width: 250px;
}
.cart_img > p {
  padding: 0 20px;
}

.cart_value {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
}

/* boton de checkaout */
.container_comprar {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}

.comprar {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  margin-top: 40px;
}

/* mobile-portrait: min:320px - max:479px;
mobile-landscape: min:480px - max:599px;
small-tablet-portrait: min:600px - max:799px;
small-tablet-landscape: min:800px - max:767px;
tablet-portrait: min:768px - max:1023px;
tablet-landscape: min:1024px; */

/* Media querys */
@media screen and (min-width: 576px) {
  .home {
    left: 325px;
  }

  .img-home {
    margin-top: 90px;
  }

  .price {
    font-size: 20px;
  }

  .btn-discover {
    width: 107px;
    height: 50px;
    font-size: 15px;
    font-family: var(--body-font);
  }

  .btn-cart {
    width: 150px;
    height: 58px;
    font-size: 15px;
    font-family: var(--body-font);
  }

  .hidden {
    display: none;
  }

  .cart-counter {
    left: 500px;
  }

  /* Diana */

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 55px;
  }

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 120px;
  }
}
@media screen and (min-width: 720px) {
  .img-home {
    width: 340px;
    height: 340px;
    margin-top: 80px;
  }

  .home {
    left: 438px;
    width: 340px;
    height: 430px;
  }

  .title {
    position: static;
    margin-right: 20px;
    margin-top: 40px;
    margin-top: 100px;
  }

  .title2 {
    position: static;
    margin-top: 10px;
    margin-right: 10px;
  }

  .description {
    position: static;
    top: 220px;
    margin-right: 20px;
  }

  .price {
    position: static;
    top: 290px;
    margin-top: 30px;
  }

  .text {
    position: sticky;
    margin-left: 24px;
    margin-right: 24px;
    padding: 0;
  }

  .nav-menu {
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
  }

  .btn-section {
    position: sticky;
  }

  .btn-discover {
    position: static;
    margin-top: 61px;
    margin-left: 24px;
  }

  .btn-cart {
    position: static;
  }

  .hidden {
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-evenly;
    margin-left: 20px;
    background-color: transparent;
  }

  .icon2 {
    display: none;
  }

  .cart-counter {
    left: 659px;
    top: 40px;
  }

  /* Diana */

  .products_container {
    margin-top: 100px;
  }

  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 14px;
    padding: 100px 20px 150px 20px;
  }

  .footer_titles {
    font-size: 15px;
  }
  .footer_social_logos {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .home {
    left: 512px;
    height: 680px;
    width: 480px;
  }

  .img-home {
    width: 470px;
    height: 470px;
    margin-top: 110px;
  }

  .title {
    font-size: 40px;
    color: var(--title-color);
  }

  .title2 {
    font-size: 40px;
    margin-top: 20px;
    color: var(--title-color);
  }

  .description {
    font-size: 16px;
    color: var(--title-color);
  }

  .price {
    font-size: 24px;
  }

  .text {
    margin-top: 100px;
  }

  .btn-discover {
    width: 110px;
    height: 51px;
  }

  .btn-cart {
    width: 165px;
    height: 59px;
  }

  .cart-counter {
    left: 929px;
    top: 40px;
  }

  .nav-menu {
    top: 0;
  }

  /* Diana */
  .products_container {
    margin-top: 200px;
  }

  .box_products {
    width: 270px;
    height: 320px;
    border-radius: 10px;
  }
  .box_products > img {
    width: 240px;
    height: 210px;
  }

  .box_products_text {
    border-radius: 0 0 10px 10px;
    font-size: 20px;
  }
  .box_products_add {
    top: 222spx;
    width: 50px;
    height: 50px;
    font-size: 18px;
  }
  .box_products_prince {
    font-size: 22px;
  }
  span {
    font-size: 15px;
  }
  .footer_titles {
    font-size: 20px;
  }
  a {
    font-size: 18px;
  }
  .footer_social_logos {
    font-size: 22p;
  }
}
@media screen and (min-width: 1200px) {
  /*Mango*/
  .cart-counter {
    left: 1140px;
    top: 40px;
  }
  /* Diana */
}
